<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple Todo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="root" class="container">
		<div class="logo">
			<img src="img/logo.png" alt="Logo Boolean">
		</div>

		<div class="new-task">
			<!-- <input @keyup.enter="addTodo" type="text" placeholder="Nuova task" v-model="newTodoNested.content.text"> -->
			<!-- <input @keyup.enter="addTodo" type="text" placeholder="Nuova task" v-model="newTodo.text"> -->
			<input @keyup.enter="addTodo" type="text" placeholder="Nuova task" v-model="newTodoText">
			<button @click="addTodo">Aggiungi</button>
			<div v-show="inputError" class="error">
				<small style="color:red">Devi inserire una task di almeno 5 caratteri</small>
			</div>
		</div>

		<div class="tasks-container">
			<ul v-if="todos.length != 0">
				<li
					v-for="(todo, i) in todos"
					:key="todo.text"
					class="task"
					@click="toggleDone(todo)"
				>
					<span :class="{done: todo.done}">{{ todo.text }}</span>
					<i class="fas fa-times" @click="deleteItem(i)"></i>
				</li>
			</ul>
			<h2 v-else>Non ci sono task 😎</h2>
		</div>
	</div>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="script.js"></script>
</body>
</html>